@font-face {
    font-family:"PT Sans";
    font-style:normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family:"PT Sans";
    font-style:normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "PT-Sans", sans-serif;
    font-size: 22px;
    line-height: 21px;
    background-color: white;
}

.main-container {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    background-color: #ffffff;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.list-logo{
    margin-right: 30px;
}

.navigation-list {
    margin: 0;
    margin-left: 17px;
    padding: 0;
    width: 450px;

}

.navigation-users {
    width: 250px;
    margin-left: auto;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-link-current {
    border-width: 2px;
    border-color: black;
}

.button {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.button-header {
    border-radius: 4px;
    padding: 9px 15px 9px 15px;
    width: 20%;
}

.welcome-description-sedona {
    margin: 0 auto;
    width: 1200px;
    background-image:url("../images/fon-nature/index-background-up.jpg");
    background-size: cover;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
}

.welcome {
    margin: auto;
    padding: 51px 371px 82px;
}

.main-font {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.font-advanteges {
    width: 720px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    text-transform: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.advanteges {
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.advanteges-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-content: flex-start;
}

.benefits-list {
    margin: 0;
    display: flex;
    padding-left: 0;
}

.advanteges-block {
    width: 400px;
    background-color: #ffffff;
    text-align: center;
}

.advanteges-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 98px;
    width: 209px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.advanteges-item {
    display: flex;
    flex-wrap: wrap;
}

.advanteges-benefits-block-with-photo-font{
    font-weight: 700;
    font-size: 24px;
    width: 400px;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 98px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.advanteges-description {
    font-size: 18px;
    line-height: 21px;
    width: 252px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.benefits-description-home {
    width: 197px;
}

.benefits-description-foot {
    width: 241px;
}

.advanteges-photo {
    display: block;
}

.benefits-description-souvenirs {
    width: 250px;
    text-align: center;
}

.photo-block {
    display: flex;
    width: 1200px;
    color: #ffffff;
    background-color: #83b3d3;
}

.housing {
    background-image: url("../images/home.svg");
    background-repeat: no-repeat;
    background-position: 163px 89px;
    background-color: rgba(131, 179, 211, 0.12);
}

.food {
    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    background-position: 163px 91px;
}

.souvenirs {
    background-image: url("../images/surprise.svg");
    background-repeat: no-repeat;
    background-position: 168px 85px;
    background-color: rgba(131, 179, 211, 0.12);
}

.block-3, .block-5 {
  background-color: rgba(131, 179, 211, 0.12);
}

.block-4 {
  background-color: rgba(131, 179, 211, 0.20);
}

.benefits-title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 184px;
}

.advanteges-description-desk {
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.search-button {
    text-align: center;
    margin-top: 51px;
    margin-bottom: 93px;
    margin-left: auto;
    margin-right: auto;
}

.button-hotel-search {
    font-size: 20px;
    line-height: 36px;
    padding: 19px 150px;
    border-radius: 10px;
}

.fon-mailing {
    width: 1200px;
    margin: 0 auto;
    background-image: url("../images/fon-nature/index-background-down.jpg");
}

.mailing-list {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 94px;
}

.newsletter-slogan {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.subscribe {
    text-align: center;
    padding-bottom: 94px;
}

.page-footer {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.footer-social-list {
    display: flex;
    margin: auto;
    margin-left: 72px;
    margin-right: 61px;
    padding: 0;
    width: 107px;
    justify-content: space-between;
}

.email {
    width: 596px;
    height: 58px;
    line-height: 26px;
    border-radius: 10px;
    border: none;
    background-color: #f2f2f2;
}

.button-subscribe {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
    height: 60px;
    background-color: #83b3d3;
    border-radius: 10px;
    border: none;
}

.contack-phone {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 720px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.footer-logo-htmlacademy {
    display: block;
    width: 115px;
    margin-left: auto;
    margin-right: 72px;
}

.main-inner {
    margin: 0 auto;
}

.inner-haeder {
    background-color: #83b3d3;
    margin: 0 auto;
    background-image: url("../images/fon-nature/catalog-background.jpg");
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ffffff;
}

.inner-header-title {
    height: 68px;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    padding-left: 71px;
    padding-top: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.catalog-filter-group {
    border: none;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding-top: 5px;
    padding-left: 73px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-index {
    margin-right: 26px;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-title {
    text-align: left;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding-left: 71px;
    padding-top: 45px;
    margin-bottom: 30px;
}

.catalog-filter-price {
    margin-left: 216px;
}

.control-input {
    font-size: 18px;
    line-height: 23px;
}

.catalog-filter-list {
    width: 166px;
    margin-top: 0;
    padding-top: 5px;
    padding-left: 67px
}

.button-apply {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background-color: #83b3d3;
}

.control-input-price {
    border-width: 2px;
    border-radius: 4px;
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    width: 287px;
    height: 48px;
}

.button-reset-filter {
    color: #ffffff;
}

.catalog-right-column {
    margin: 71px 50px;
    width: 1057px;
}

.select-control {
    font-size: 18px;
    margin-left: 191px;
    border-color: #e5e5e5;
    border-radius: 4px;
    width: 287px;
    height: 48px;
    padding: 12px 0px 13px 19px;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-card-title {
    font-size: 24px;
    text-align: left;
    font-weight: 700;
    color: #000000;
}

.housing-type {
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #333333;
}

.hotel-product-button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.button-hotel-card-favorites-list {
    font-size: 16px;
    border-radius: 4px;
    background-color: #83b3d3;
    border: none;
}

.rating {
    font-size: 16px;
    text-transform: uppercase;
    color: #333333;
    line-height: 21px;
    text-align: center;
    width: 160px;
    height: 37px;
    background-color: #f2f2f2;
}

.button-in-favorites {
    background-color: #7db54f;
}

.pagination{
    width: 1056px;
}

.pagination-show-more {
    margin-left: 290px;
    width: 620px;
    height: 60px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    background-color: #83b3d3;
    border-radius: 4px;
}

.pagination-link {
    border-radius: 4px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background-color: #83b3d3;
}

.pagination-current {
    background-color: #f2f2f2;
    color: #000000;
}

.hotel-per-page {
    font-size: 18px;
    text-align: left;
}

.select-control-show-pages {
    width: 160px;
}

.font-subscribe {
    color: #000000;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}
